<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4">

    <display-name>Simple Web Servlet Example</display-name>
    <description>Simple Web Servlet Example</description>

    <session-config>
    
        <session-name>example_login</session-name>
        <session-file-prefix>example_session_</session-file-prefix>
        <session-save-path>/tmp</session-save-path>
        
        <!--
        <garbage-collection-probability>0.1</garbage-collection-probability>
        <session-save-path>60</session-save-path>
        <session-maximum-age>0</session-maximum-age>
        <session-inactivity-timeout>1440</session-inactivity-timeout>
        <session-cookie-lifetime>86400</session-cookie-lifetime>
        <session-cookie-domain>localhost</session-cookie-domain>
        <session-cookie-path>/</session-cookie-path>
        <session-cookie-secure>false</session-cookie-secure>
        <session-http-only>false</session-http-only>
        -->
    </session-config>

    <servlet>
        <description/>
        <display-name>IndexServlet</display-name>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>\TechDivision\Example\Servlets\IndexServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <security>
        <url-pattern>/index.do/basicAuthentication*</url-pattern>
        <auth>
            <auth_type>Basic</auth_type>
            <realm>test</realm>
            <adapter_type>htpasswd</adapter_type>
            <options>
                <file>WEB-INF/htpasswd</file>
            </options>
        </auth>
    </security>

    <security>
        <url-pattern>/index.do/digestAuthentication*</url-pattern>
        <auth>
            <auth_type>Digest</auth_type>
            <realm>Digest-Example-Realm</realm>
            <adapter_type>htdigest</adapter_type>
            <options>
                <file>WEB-INF/htdigest</file>
            </options>
        </auth>
    </security>
    
</web-app>