<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4">

    <display-name>Simple Web Servlet Example</display-name>
    <description>Simple Web Servlet Example</description>

    <servlet>
        <description/>
        <display-name>IndexServlet</display-name>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>\TechDivision\Example\Servlets\IndexServlet</servlet-class>
    </servlet>

    <servlet>
        <description/>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>\TechDivision\Example\Servlets\LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <description/>
        <display-name>UploadServlet</display-name>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>\TechDivision\Example\Servlets\UploadServlet</servlet-class>
    </servlet>

    <servlet>
        <description/>
        <display-name>WebSocketServlet</display-name>
        <servlet-name>WebSocketServlet</servlet-name>
        <servlet-class>\TechDivision\Example\Servlets\WebSocketServlet</servlet-class>
    </servlet>

    <servlet>
        <description/>
        <display-name>BasicAuthenticationServlet</display-name>
        <servlet-name>BasicAuthenticationServlet</servlet-name>
        <servlet-class>\TechDivision\Example\Servlets\BasicAuthenticationServlet</servlet-class>
    </servlet>

    <servlet>
        <description/>
        <display-name>DigestAuthenticationServlet</display-name>
        <servlet-name>DigestAuthenticationServlet</servlet-name>
        <servlet-class>\TechDivision\Example\Servlets\DigestAuthenticationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WebSocketServlet</servlet-name>
        <url-pattern>/websocket/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BasicAuthenticationServlet</servlet-name>
        <url-pattern>/basicAuthentication/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BasicAuthenticationServlet</servlet-name>
        <url-pattern>/basicAuthentication/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DigestAuthenticationServlet</servlet-name>
        <url-pattern>/digestAuthentication/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DigestAuthenticationServlet</servlet-name>
        <url-pattern>/digestAuthentication/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <security>
        <url-pattern>/basicAuthentication/</url-pattern>
        <auth>
            <auth_type>Basic</auth_type>
            <realm>test</realm>
            <adapter_type>htpasswd</adapter_type>
            <options>
                <file>htpasswd</file>
            </options>
        </auth>
    </security>

    <security>
        <url-pattern>/basicAuthentication/*</url-pattern>
        <auth>
            <auth_type>Basic</auth_type>
            <realm>Basic-Example-Realm</realm>
            <adapter_type>htpasswd</adapter_type>
            <options>
                <file>htpasswd</file>
            </options>
        </auth>
    </security>

    <security>
        <url-pattern>/digestAuthentication/</url-pattern>
        <auth>
            <auth_type>Digest</auth_type>
            <realm>Digest-Example-Realm</realm>
            <adapter_type>htdigest</adapter_type>
            <options>
                <file>htdigest</file>
            </options>
        </auth>
    </security>

    <security>
        <url-pattern>/digestAuthentication/*</url-pattern>
        <auth>
            <auth_type>Digest</auth_type>
            <realm>Digest-Example-Realm</realm>
            <adapter_type>htdigest</adapter_type>
            <options>
                <file>htdigest</file>
            </options>
        </auth>
    </security>

</web-app>